body {
margin:0;
padding:0;

}

h1 {
background-color:#333;
    color:rgb(165, 165, 172);
text-align:center;
}

.item {
    display: inline-block; 
    vertical-align: top;



}

.red-div {
    width:30%;
    height:150px;
    background-color: rgb(192, 55, 43);
    

}

.blue-div {
    width:68%;
    min-height:150px;
    background-color: rgb(80, 55, 43);
    overflow-y:auto;
}

.black-div {
    width:60px;
    height:150px;
    background-color:#546;
   float:right;
}




.danger{
    color:red;
    border:1px solid ;
    padding:5px 20px;
}

.danger:hover{
font-weight:bold;
border-color:red;
margin-top: 5px;

}